
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>De: <%= @message.name %><%= @message.email %></h1>

    <h3>Mensaje:</h3>
    <p>
      <%= @message.body %>
    </p>
     
  </body>
</html>