<div class="ui  centered grid">
  <div class="six wide column">
<p id="notice"><%= notice %></p>

<h1>Categorias  
<a href="/categories/new" class="ui teal labeled icon button">  <i class="add icon labeled"></i>Nueva Categoria</a></h1>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Editar', edit_category_path(category) %></td>
        <td><%= link_to 'Borrar', category, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>